/* WebKit Browsers (Chrome, Safari, Edge) */
:root {
  --primary-color: #96e2d6;
  --highlight-color: #f5c1e7;
  --dim-color: #8ab3f9;
  --paragraphColor: #18182670;
}

::-webkit-scrollbar {
  width: 12px;
  background-color: #2c2c2c;
}

::-webkit-scrollbar-track {
  background-color: #2c2c2c;
}

::-webkit-scrollbar-thumb {
  background-color: #555;
  border-radius: 10px;
  border: 2px solid #2c2c2c;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #777;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  scrollbar-color: #555 #2c2c2c; /* Thumb and track colors */
  scrollbar-width: thin; /* Thin scrollbar */
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
}
body {
  background-color: black;
  color: white;
  font-family: "JetBrains Mono", monospace;
  background-image: linear-gradient(135deg, #000000, #3b1f89b5),
    url("./public/assets/body_background.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  aspect-ratio: 16/9;
  z-index: -1;
  height: 100vh;
  width: 100vw;
}

.mainContainer {
  height: 100vh;
  width: 100vw;
}
.leftContainer {
  display: flex;
  flex-direction: column;
  position: fixed;
  height: 100vh;
  width: 35vw;
  /* border-style: solid; */
  border-color: white;
  padding-top: 10vh;
}

.rightContainer {
  width: 65vw;
  height: 100vh;
  margin-left: 35vw;
  padding-top: 10vh;
  padding-left: 5vw;
  padding-right: 5vw;
  /* border-style: solid; */
  border-color: white;
  overflow-y: auto;
}

.musicContainer,
.navigationContainer {
  grid-column: span 1;
}

.musicContainer {
  position: fixed;
  /* margin-top: 10vh; */
  margin-left: 10vh;
  height: fit-content;
  width: fit-content;
  border-radius: 20px;
  overflow: hidden;
  border-color: var(--primary-color);
  border-style: solid;
  border-width: 3px;
  background-color: black;
  padding-bottom: 20px;
}

.musicImage {
  /* height: 50%;
  width: 86%; */
  margin-top: 7%;
  margin-left: 7%;
  margin-right: 7%;
  margin-bottom: 4%;
  border-radius: 15px;
  overflow: hidden;
  background-image: url("./public/assets/wanderlust_by_erisiar_ddzdf96-414w-2x.jpg");
  background-position: center;
  aspect-ratio: 1/1;
  background-size: cover;
  background-repeat: no-repeat;
}

.musicName {
  position: relative;
  color: var(--primary-color);
  font-size: 2em;
  white-space: nowrap;
  margin-left: 7%;
  margin-right: 7%;
  overflow: hidden;
  text-overflow: ellipsis;
}
.musicSubtitle {
  position: relative;
  color: var(--primary-color);
  font-size: 1.3em;
  margin-left: 7%;
  margin-right: 7%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#progress {
  appearance: none;
  width: 85%;
  height: 0.4em;
  background: var(--highlight-color);
  border-radius: 5px;
  cursor: pointer;
  margin-left: 7%;
  margin-right: 7%;
}
#progress::-webkit-slider-thumb {
  appearance: none;
  width: 1em;
  height: 1em;
  background: var(--highlight-color);
  border-radius: 50%;
  cursor: pointer;
}

.musicControls {
  position: relative;
  color: var(--highlight-color);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.musicControls div {
  margin-top: 0.9em;
  margin-left: 1.2em;
  margin-right: 1.2em;
}

.navigationContainer {
  position: fixed;
  margin-top: 1vh;
  margin-left: 460px;
  font-size: 1.5rem;
}
.navigationContainer li {
  list-style: none;
  margin-bottom: 30%;
}
.navigationContainer ul li a {
  text-decoration: none;
  color: var(--dim-color);
  transition: color 0.3s, transform 0.3s;
  transform: scale(1); /* Add this line */
  transform-origin: left center; /* Add this line for better scaling */
}
.navigationContainer ul li a.active {
  color: var(--primary-color);
  transform: scale(1.25);
  z-index: 1;
}

.audioWaveContainer {
  margin-top: 53vh;
  margin-left: 10vh;
  width: fit-content;
}
#musicCanvas {
  height: 100px;
  width: 170px;
  border-style: solid;
  border-width: 3px;
  border-radius: 15px;
  border-color: var(--primary-color);
}
#gif {
  height: 100px;
  width: 170px;
  border-style: solid;
  border-width: 3px;
  border-radius: 15px;
  border-color: var(--primary-color);
}

.socialIcons {
  position: relative;
  display: flex;
  margin-top: 0.5em;
  justify-content: left;
  align-items: center;
  cursor: pointer;
  width: fit-content;
}
.socialIcons i {
  margin-right: 0.5em;
}

.homeContainer {
  height: 100vh;
}

.glitchText {
  position: relative;
  margin-top: 0;
  font-family: "Orbitron", serif;
  font-size: 7rem;
  font-weight: bold;
  text-transform: uppercase;
  text-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.75),
    -0.025em -0.05em 0 rgba(0, 255, 0, 0.75),
    0.025em 0.05em 0 rgba(0, 0, 255, 0.75);

  animation: glitch 1000ms infinite;
}

.glitchText span {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
}

.glitchText span:first-child {
  animation: glitch 1650ms infinite;
  clip-path: polygon(0 0, 100% 0, 100% 45%, 0 45%);
  transform: translate(-0.025em, -0.0125em);
  /* color: green; */
  opacity: 0.8;
}

.glitchText span:last-child {
  animation: glitch 875ms infinite;
  clip-path: polygon(0 80%, 100% 20%, 100% 100%, 0 100%);
  transform: translate(0.0125em, 0.025em);
  /* color: red; */
  opacity: 0.8;
}

/* https://web.dev/prefers-reduced-motion/#(bonus)-forcing-reduced-motion-on-all-websites */

@keyframes glitch {
  0% {
    text-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.75),
      -0.05em -0.025em 0 rgba(0, 255, 0, 0.75),
      -0.025em 0.05em 0 rgba(0, 0, 255, 0.75);
  }
  14% {
    text-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.75),
      -0.05em -0.025em 0 rgba(0, 255, 0, 0.75),
      -0.025em 0.05em 0 rgba(0, 0, 255, 0.75);
  }
  15% {
    text-shadow: -0.05em -0.025em 0 rgba(255, 0, 0, 0.75),
      0.025em 0.025em 0 rgba(0, 255, 0, 0.75),
      -0.05em -0.05em 0 rgba(0, 0, 255, 0.75);
  }
  49% {
    text-shadow: -0.05em -0.025em 0 rgba(255, 0, 0, 0.75),
      0.025em 0.025em 0 rgba(0, 255, 0, 0.75),
      -0.05em -0.05em 0 rgba(0, 0, 255, 0.75);
  }
  50% {
    text-shadow: 0.025em 0.05em 0 rgba(255, 0, 0, 0.75),
      0.05em 0 0 rgba(0, 255, 0, 0.75), 0 -0.05em 0 rgba(0, 0, 255, 0.75);
  }
  99% {
    text-shadow: 0.025em 0.05em 0 rgba(255, 0, 0, 0.75),
      0.05em 0 0 rgba(0, 255, 0, 0.75), 0 -0.05em 0 rgba(0, 0, 255, 0.75);
  }
  100% {
    text-shadow: -0.025em 0 0 rgba(255, 0, 0, 0.75),
      -0.025em -0.025em 0 rgba(0, 255, 0, 0.75),
      -0.025em -0.05em 0 rgba(0, 0, 255, 0.75);
  }
}

@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    animation-delay: -1ms !important;
    animation-duration: 1ms !important;
    animation-iteration-count: 1 !important;
    background-attachment: initial !important;
    scroll-behavior: auto !important;
    transition-duration: 0s !important;
    transition-delay: 0s !important;
  }
}

.aboutContainer {
  height: 100vh;
}

.subHeaderTextContainer {
  font-size: 3rem;
  font-weight: bold;
  color: var(--primary-color);
  margin-bottom: 1rem;
}

.subHeaderText:first-child {
  color: white;
}
.paragraphContainer,
.paragraphContainerAbout {
  background-color: var(--paragraphColor);
  border-radius: 20px;
  border-style: solid;
  border-color: gray;
  padding: 1em;
  font-size: 1rem;
  text-align: justify;
}
/* .paragraphContainerAbout { */
/* margin-right: 15vw; */
/* } */

.projectsContainer {
  height: 100vh;
}

.projectsCardContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50%;
}
.cardContainer {
  padding-block: 5rem;
}
.cardContent {
  margin-inline: 1.75rem;
  border-radius: 1.25rem;
  overflow: hidden;
}
.cardArticle {
  height: 480px;
  width: 300px;
  border-radius: 1.25rem;
  overflow: hidden;
  border: 2px solid var(--primary-color);
  background-color: #000000;
  display: grid;
  row-gap: 1rem;
  overflow: hidden;
  justify-content: center;
  transition: background-color 0.6s;
}
.cardImage {
  display: flex;
  position: relative;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  /* margin-bottom: 0.75rem; */
  justify-content: center;
  height: 30vh;
}
.cardData {
  background-color: #000000a4;
  padding: 1.5rem, 2rem;
  text-align: center;
  position: relative;
  z-index: 10;
  transition: transform 0.4s opacity 0.4s;
}
.cardImg {
  width: 100%;
  height: 100%;
  justify-self: center;
  position: relative;
  object-fit: cover;
  transition: transform 0.4s;
  height: 280px;
}
.cardBg {
  position: absolute;
  top: 0;
  left: 0;
  width: 400px;
  height: 600px;
  object-fit: cover;
  object-position: center;
  transform: scale(1.3);
  z-index: -10;
  transition: transform 0.4s;
}
.cardTitle {
  margin-top: 0.5rem;
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--primary-color);
}
.cardDescription {
  margin: 8px 8px;
  height: 5.5rem;
}

/* card animation */
.cardArticle:hover .cardImg {
  transform: translateY(-1.5rem);
}
/* .cardArticle:hover .cardData {
  transform: translateY(-4.5rem);
  opacity: 0;
} */
.cardArticle:hover {
  background-color: transparent;
}
.cardArticle:hover .cardBg {
  transform: scale(1);
}
.cardArticle:hover .cardButton {
  transform: translateY(-3.75rem);
  opacity: 1;
  pointer-events: initial;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  content: "";
}
.swiper-button-next,
.swiper-button-prev {
  width: initial;
  height: initial;
  font-size: 3rem;
  color: var(--primary-color);
  /* display: none; */
}
.swiper-button-prev {
  left: 0;
}
.swiper-button-next {
  right: 0;
}
.swiper-pagination-bullet {
  background-color: var(--dim-color);
  opacity: 1;
}
.swiper-pagination-bullet-active {
  background-color: var(--primary-color);
}

.resumeContainer {
  height: 100vh;
}
.resumeContent {
  display: flex;
}
#resumeLink {
  color: white;
  border-bottom: white;
  text-decoration: none;
}
