<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Michroma&family=Orbitron:wght@400..900&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Orbitron:wght@400..900&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
    />
    <link rel="stylesheet" href="../public/styles/style.css" />
    <title>Personal Portfolio</title>
  </head>
  <body>
    <div class="mainContainer">
      <div class="leftContainer">
        <div class="musicContainer">
          <div class="musicImage"></div>
          <p class="musicText">Home</p>
          <h2 class="musicName">asfasdfasf</h2>
          <h4 class="musicSubtitle">asfafasfa</h4>
          <audio id="song">
            <source
              src="../public/assets/trance.wav"
              type="audio/wav"
              id="audio"
            />
          </audio>
          <input type="range" value="0" id="progress" />
          <div class="musicControls">
            <div><i class="fa-solid fa-shuffle fa-xl"></i></div>
            <div><i class="fa-solid fa-backward-step fa-2xl"></i></div>
            <div onclick="playPause()">
              <i class="fa-solid fa-circle-play fa-3x" id="play"></i>
            </div>
            <div><i class="fa-solid fa-forward-step fa-2xl"></i></div>
            <div><i class="fa-solid fa-repeat fa-xl"></i></div>
          </div>
        </div>
        <div class="navigationContainer">
          <h3>Home</h3>
          <h3>About</h3>
          <h3>Projects</h3>
          <h3>Resume</h3>
        </div>
        <div class="audioWaveContainer">
          <canvas id="musicCanvas"></canvas>
          <div class="socialIcons">
            <div>
              <a href="https://google.com">
                <i class="fa-brands fa-linkedin fa-xl" style="color: gray"></i>
              </a>
            </div>
            <div>
              <a href="https://google.com">
                <i class="fa-brands fa-youtube fa-xl" style="color: gray"></i>
              </a>
            </div>
            <div>
              <a href="https://google.com">
                <i class="fa-brands fa-github fa-xl" style="color: gray"></i>
              </a>
            </div>
            <div>
              <a href="https://google.com">
                <i class="fa-brands fa-instagram fa-xl" style="color: gray"></i>
              </a>
            </div>
            <div>
              <a href="https://google.com">
                <i class="fa-regular fa-envelope fa-xl" style="color: gray"></i>
              </a>
            </div>
          </div>
        </div>
      </div>

      <div class="rightContainer">
        <div class="homeContainer">
          <h1 class="glitchText">
            <span aria-hidden="true">HELLO,</span>HELLO,<span aria-hidden="true"
              >HELLO,</span
            >
          </h1>
          <div class="subHeaderTextContainer">
            <span class="subHeaderText">I'm </span>
            <span class="subHeaderText home"></span>
          </div>
          <div class="paragraphContainer">
            <p style="margin-bottom: 1em">
              It's the year 2023, when my coding journey took its nascent
              footsteps in the confines of my NS bunk. The endless boundaries of
              what code can achieve simultaneously induced the nescient child in
              me who had discovered math contained alphabets, but also the
              inquisitive caveman who had just discovered fire. I wanted to
              masterfully wield this fire to breathe life to my ideas. I am
              interested in all things computing: ethical hacking, game
              development, web/app development, embedded systems, theoretical
              computing, and many more concepts where one lifetime is simply to
              fleeting to learn it all.
            </p>
            <p style="margin-bottom: 1em">
              Currently, I am building a stronger understanding in full stack
              web development, as it brings into fruition a lot of the project
              ideas I am planning to build. I believe the Web is what brings
              ideas to fruition, across the globe in a visually accessible
              manner, to the fingertips of anyone who has a computer. Looking
              ahead, I plan to dabble into some IOT projects, brush up on my
              theoretical knowledge on *Data Structures and Algorithms* so I can
              crush more leetcode easy questions, as well some game dev and
              machine learning.
            </p>
            <p>
              When I'm not just a cadaver punching gobbledygook code on my
              computer, I spend my unemployed time(hire me) playing guitar,
              producing Singapore's next hit single, working out, living an
              alternate life in open world games, reading, and contemplating
              life's eternal dread and the fleeting passage of time.
            </p>
          </div>
        </div>
        <div class="aboutContainer">
          <h1 class="glitchText" style="margin-top: 1em">
            <span aria-hidden="true">About Me</span>About Me<span
              aria-hidden="true"
              >About Me</span
            >
          </h1>
          <div class="subHeaderTextContainer">
            <span class="subHeaderText">I'm </span>
            <span class="subHeaderText about"></span>
          </div>
        </div>
      </div>
    </div>

    <script src="https://unpkg.com/typed.js@2.1.0/dist/typed.umd.js"></script>
    <script src="./index.js"></script>
  </body>
</html>
